:root {
  --content-width: 1490px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #000;
  --text-color: #323232;
  --green-color: #15B359;
}

/* stylelint-disable */
/* stylelint-disable */
/* Gilroy */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #F8F8F8;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);
}

.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: block;
  width: 160px;
  height: 44px;
  padding: 8px 0 8px;
  background-color: var(--green-color);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.main-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .main-title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 30px;
    line-height: 40px;
  }
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 480px) {
  .container {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1550px) {
  .container {
    max-width: var(--container-width);
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1549px) {
  .logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1199px) {
  .logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.logo img {
  margin: 0;
}

.logo__text {
  max-width: 170px;
  display: inline-block;
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #DEDEDE;
}

@media (max-width: 1549px) {
  .logo__text {
    margin: 5px 0 0 0;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .logo__text {
    margin: 0 0 0 20px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .logo__text {
    display: none;
  }
}

@media (max-width: 1199px) {
  .nav {
    position: absolute;
    width: 100%;
    top: 77px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    background: var(--text-color);
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    z-index: 20;
  }
}

.nav--active {
  -webkit-transform: none;
          transform: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1199px) {
  .nav__item {
    margin-bottom: 20px;
    text-align: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 1439px) {
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 1199px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
}

.nav-item__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy__prices {
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .buy__prices {
    margin-bottom: 30px;
  }
}

.buy__price {
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
}

.buy__price_old {
  margin: 0 0 0 100px;
  color: #8E8E8E;
}

.buy__price_old span {
  font-weight: 900;
}

.buy__price_new {
  color: var(--text-color);
}

.buy__price_new span {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
}

.buy__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .buy__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.buy__btn {
  width: 130px;
}

.buy__btn:first-child {
  margin-right: 30px;
}

@media (max-width: 480px) {
  .buy__btn:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.buy__btn_constructor {
  width: 180px;
  background: linear-gradient(93.88deg, #FAE7A5 4.34%, #FAE7A5 30.7%, #FFF1C4 53.31%, #C9AD6D 132.51%);
  color: var(--text-color);
}

.gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .gifs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gifs__col {
  width: 49%;
}

@media (max-width: 1199px) {
  .gifs__col {
    width: 100%;
  }
}

.gifs__col video {
  width: 100%;
  margin-bottom: 15px;
}

.gifs__name {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
}

@media (max-width: 1199px) {
  .gifs__name {
    margin-bottom: 20px;
  }
}

.gifs__list {
  max-width: 330px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .gifs__list {
    margin: 0 auto 50px;
  }
}

.gifs__list_advantage .gifs__item::before {
  background-image: url(../images/check.svg);
}

.gifs__item {
  position: relative;
  padding-left: 34px;
  font-size: 25px;
  line-height: 32px;
  color: var(--text-color);
}

.gifs__item span {
  font-weight: 600;
}

.gifs__item:not(:last-child) {
  margin-bottom: 10px;
}

.gifs__item::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
}

.table {
  border-collapse: collapse;
}

.table__col {
  padding: 15px 0;
  border: 2px solid #D7D7D7;
  text-align: center;
}

.table__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: var(--text-color);
}

.table__text {
  background-position: 14% center;
  background-repeat: no-repeat;
  text-align: left;
}

.table__text_cross {
  background-image: url(../images/cross.svg);
}

.table__text_check {
  background-image: url(../images/check.svg);
}

.table__text .table__desc {
  width: 240px;
  margin: 0 auto;
}

.table__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: var(--text-color);
}

.fancybox-content {
  padding: 0;
}

.set-modal {
  max-width: 1520px;
  width: 100%;
}

.set-modal_1 .set-modal__info {
  max-width: 450px;
}

.set-modal_2 .set-modal__info {
  max-width: 500px;
}

.set-modal_3 .set-modal__info {
  max-width: 560px;
}

.set-modal_3 .set-modal__image {
  position: absolute;
  right: 0;
  width: 427px;
}

.set-modal_4 .set-modal__info {
  max-width: 760px;
}

.set-modal_5 .set-modal__info {
  padding-bottom: 80px;
}

.set-modal_5 .set-modal__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 582px;
}

.set-modal_12 .set-modal__info {
  padding-bottom: 255px;
}

.set-modal_12 .set-modal__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 652px;
}

.set-modal__header {
  height: 130px;
  padding: 20px 40px;
  background: #FFE4C7;
  color: var(--text-color);
}

.set-modal__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: inherit;
}

.set-modal__subtitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: inherit;
}

.set-modal__body {
  position: relative;
  padding: 40px;
}

.set-modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.set-modal__info {
  max-width: 650px;
}

.set-modal__desc {
  font-size: 20px;
  line-height: 30px;
  color: #494949;
}

.set-modal__desc:not(:last-child) {
  margin-bottom: 20px;
}

.set-modal ul li {
  font-size: 20px;
  line-height: 30px;
  color: #494949;
}

.set-modal__image {
  margin: 0 auto;
}

.header {
  height: 77px;
  padding: 16px 0 17px;
  background-color: var(--text-color);
}

@media (max-width: 1679px) {
  .header {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .header {
    height: 77px;
  }
}

.header__container {
  max-width: 1680px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1679px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1199px) {
  .header__right {
    display: none;
  }
}

.header__phone {
  display: block;
  margin-right: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__phone_mobile {
  display: none;
}

@media (max-width: 1199px) {
  .header__phone_mobile {
    display: block;
    margin: 0 0 10px !important;
  }
}

@media (max-width: 1679px) {
  .header__phone {
    margin: 0 0 5px 0;
  }
}

.header__btn {
  position: relative;
  width: 200px;
  padding-left: 50px;
  background-color: transparent;
  border: 2px solid var(--green-color);
  border-radius: 22px;
  font-size: 15px;
  line-height: 18px;
  color: var(--green-color);
}

.header__btn::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 21px;
  width: 26px;
  height: 26px;
  background-image: url(../images/phone-icon.svg);
  background-repeat: no-repeat;
}

.header__btn_mobile {
  display: none;
}

@media (max-width: 1199px) {
  .header__btn_mobile {
    display: block;
  }
}

.header__burger {
  position: relative;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
}

.header__burger-line {
  display: inline-block;
  width: 43px;
  height: 3px;
  background: var(--light-color);
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger-line::before, .header__burger-line::after {
  content: "";
  position: absolute;
  right: 0;
  width: 60px;
  height: 3px;
  background: var(--light-color);
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger-line::before {
  bottom: 0;
}

.header__burger-line::after {
  top: 0;
}

@media (max-width: 1199px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  padding: 50px 0 0;
  background: #ECECEC;
}

.hero__main-title {
  margin-bottom: 10px;
}

.hero__subtitle {
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: var(--text-color);
}

@media (max-width: 991px) {
  .hero__subtitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 26px;
  }
}

.hero__content {
  position: relative;
}

.hero__info {
  width: 40%;
  margin-left: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1549px) {
  .hero__info {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .hero__info {
    width: 100%;
  }
}

.hero__list {
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .hero__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 767px) {
  .hero__list {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__image {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.hero__image_mobile {
  display: none;
}

@media (max-width: 991px) {
  .hero__image_mobile {
    display: block;
    margin-bottom: 50px;
  }
}

@media (max-width: 1549px) {
  .hero__image {
    right: 0;
  }
}

@media (max-width: 1439px) {
  .hero__image {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .hero__image {
    display: none;
  }
}

@media (max-width: 991px) {
  .hero__buy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-item:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .hero-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.hero-item__icon {
  width: 10%;
}

.hero-item__text {
  width: 80%;
  margin-left: 10px;
}

@media (max-width: 991px) {
  .hero-item__text {
    width: 90%;
  }
}

.hero-item__title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #303035;
}

@media (max-width: 480px) {
  .hero-item__title {
    font-size: 18px;
  }
}

.hero-item__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4E4E4E;
}

@media (max-width: 480px) {
  .hero-item__desc {
    font-size: 16px;
  }
}

.hero-video {
  position: absolute;
  top: 55%;
  left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-45%, -55%);
          transform: translate(-45%, -55%);
}

@media (max-width: 1439px) {
  .hero-video {
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
}

@media (max-width: 1199px) {
  .hero-video {
    top: 70%;
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

@media (max-width: 991px) {
  .hero-video {
    display: none;
  }
}

.hero-video__btn {
  position: relative;
  width: 106px;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #D9D9D9;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
}

.hero-video__btn::before {
  content: '';
  position: absolute;
  left: 0;
  width: 285px;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, color-stop(11.05%, #D9D9D9), color-stop(88.95%, rgba(217, 217, 217, 0)));
  background: linear-gradient(90deg, #D9D9D9 11.05%, rgba(217, 217, 217, 0) 88.95%);
  border-radius: 38.5px;
  z-index: -1;
}

.hero-video__desc {
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #303035;
  z-index: 1;
}

.hero-dop {
  position: absolute;
  top: -60px;
  left: 55%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}

@media (max-width: 1199px) {
  .hero-dop {
    left: 60%;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  .hero-dop img {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .hero-dop {
    display: none;
  }
}

.hero-dop__name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #303035;
}

.hero-dop__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-dop__price {
  margin-right: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #4E4E4E;
}

.hero-dop__desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FF5353;
  text-transform: uppercase;
}

.features {
  padding: 100px 0;
}

.features__content_first {
  margin-bottom: 130px;
}

.features__content_second .features__info {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.features__content_second .features__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features__content_second .gifs__list {
  max-width: 430px;
}

.features__columns {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features__info {
  width: 49%;
}

@media (max-width: 1199px) {
  .features__info {
    width: 100%;
  }
}

.features__title {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .features__title {
    text-align: center;
  }
}

.features__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: var(--green-color);
}

@media (max-width: 1199px) {
  .features__subtitle {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .features__subtitle {
    font-size: 20px;
    line-height: 26px;
  }
}

.features__desc {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 35px;
  color: var(--text-color);
}

.features__item {
  font-size: 25px;
  line-height: 32px;
  color: var(--text-color);
}

.features__item:not(:last-child) {
  margin-bottom: 5px;
}

.features__item span {
  font-weight: 600;
}

@media (max-width: 1199px) {
  .features__image {
    display: none;
  }
}

.features__image_mobile {
  display: none;
}

@media (max-width: 1199px) {
  .features__image_mobile {
    display: block;
    margin-bottom: 30px;
  }
}

.countercurrent {
  padding: 70px 0;
  background-color: var(--light-color);
}

.countercurrent__title {
  margin-bottom: 20px;
}

.countercurrent__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--greend-color);
}

.countercurrent__desc {
  max-width: 1050px;
  margin: 0 auto 50px;
  font-size: 20px;
  line-height: 35px;
  color: var(--text-color);
}

.countercurrent__desc span {
  font-weight: 700;
}

.countercurrent__table {
  width: 1260px;
  margin: 0 auto;
}

.exclusive {
  padding: 150px 0;
  background-image: url(../images/exclusive.png);
  background-position: right 280px bottom;
  background-repeat: no-repeat;
}

.exclusive__title {
  margin-bottom: 30px;
}

.exclusive__desc {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 35px;
  color: var(--black-color);
}

.exclusive__desc span {
  font-weight: 700;
}

.exclusive__desc_first {
  max-width: 750px;
}

.exclusive__desc_second {
  max-width: 1000px;
}

.exclusive__frame {
  max-width: 1010px;
  margin-bottom: 30px;
  padding: 22px;
  border: 3px solid;
  border-image-source: linear-gradient(90.27deg, #E0CB7E 7.96%, #FEEFBF 47.85%, #E2CD95 100%);
  border-image-slice: 1;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
}

.modes {
  padding: 50px 0;
  background-color: var(--light-color);
}

.modes__title {
  margin-bottom: 24px;
}

.modes__subtitle {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--green-color);
  text-align: center;
}

.modes__buttons {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #aaaaaa;
}

.modes__btn {
  padding: 0 70px 17px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--text-color);
}

.modes__btn:not(:last-child) {
  margin-right: 10px;
}

.modes__btn_active {
  font-weight: 700;
  color: var(--green-color);
  border-bottom: 3px solid var(--green-color);
}

.modes__content {
  padding: 100px 0 130px;
}

.modes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modes-item__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--text-color);
}

.modes-item__desc {
  max-width: 750px;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 35px;
  color: var(--black-color);
}

.modes-list {
  margin-bottom: 60px;
}

.modes-list__item {
  position: relative;
  padding-left: 52px;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: var(--text-color);
}

.modes-list__item::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
}

.configuration {
  padding: 100px 0;
}

.configuration__title {
  margin-bottom: 20px;
}

.configuration__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--green-color);
  text-align: center;
}

.configuration__desc {
  max-width: 1000px;
  margin: 0 auto 70px;
  font-size: 20px;
  line-height: 35px;
  color: var(--black-color);
  text-align: center;
}

.configuration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 991px) {
  .configuration__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.configuration-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-left: 1px solid #dcdcdc;
}

.configuration-col:first-child {
  padding-right: 35px;
  border: none;
}

@media (max-width: 991px) {
  .configuration-col:first-child {
    padding-right: 0;
  }
}

@media (max-width: 1549px) {
  .configuration-col:last-child {
    padding-left: 35px;
  }
}

@media (max-width: 991px) {
  .configuration-col:last-child {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .configuration-col {
    border: none;
    margin-bottom: 50px;
  }
}

.configuration-col__image {
  max-width: 250px;
  margin: 80px 40px 0 0;
}

@media (max-width: 1549px) {
  .configuration-col__image {
    display: none;
  }
}

.configuration-col__image_mobile {
  display: none;
}

@media (max-width: 1549px) {
  .configuration-col__image_mobile {
    display: block;
    margin-bottom: 30px;
  }
}

.configuration-col__info {
  max-width: 440px;
}

@media (max-width: 1549px) {
  .configuration-col__info {
    max-width: none;
  }
}

.configuration-col__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: var(--text-color);
}

.configuration-col__title .medi {
  color: #F88A6F;
}

.configuration-col__title .nerzha {
  color: #AFADAB;
}

@media (max-width: 1549px) {
  .configuration-col__title {
    text-align: center;
  }
}

.configuration-col__desc {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}

.configuration-col__desc_num {
  font-weight: 700;
}

.configuration-col__desc_green {
  font-weight: 700;
  color: var(--green-color);
}

.configuration-col__arrow {
  margin-bottom: 7px;
}

.modes-2 {
  padding: 120px 0 0;
  background-color: var(--light-color);
}

.modes-2__title {
  margin-bottom: 50px;
}

.modes-2__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/modes-2/modes-2-line.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.modes-2__btn {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7C7C7C;
}

.modes-2__btn:not(:last-child) {
  margin-right: 40px;
}

.modes-2__btn_active {
  margin-bottom: 2px;
  border-bottom: 3px solid var(--green-color);
  color: #2DB869;
}

.modes-2-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0 0;
}

.modes-2-item__image {
  margin-right: 200px;
}

.modes-2-item__info {
  max-width: 560px;
}

.modes-2-item__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: var(--text-color);
}

.modes-2-item__desc {
  font-size: 20px;
  line-height: 30px;
  color: #6A6A6A;
}

.modes-2-item__desc span {
  font-weight: 700;
}

.set {
  padding: 100px 0;
}

.set__title {
  margin-bottom: 50px;
}

.set__content {
  position: relative;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.set__left {
  position: absolute;
  width: 100%;
}

.set__image {
  max-width: 380px;
  margin-left: auto;
}

.set-item {
  position: relative;
  margin-bottom: 50px;
}

.set-item::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 23%;
  height: 1px;
  background-color: #dbdbdb;
  z-index: -1;
}

.set-item::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 27.4%;
  width: 5px;
  height: 5px;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.set-item_1 {
  margin-bottom: 75px;
}

.set-item_1::before {
  width: 516px;
}

.set-item_2::before {
  left: 25%;
  width: 478px;
}

.set-item_2::after {
  right: 29.1%;
}

.set-item_3::before {
  left: 35%;
  width: 387px;
}

.set-item_3::after {
  right: 27.8%;
}

.set-item_4::before {
  left: 30%;
  width: 177px;
}

.set-item_4::after {
  right: 52.9%;
}

.set-item_4 .set-item__link {
  position: relative;
}

.set-item_4 .set-item__link::before {
  content: '';
  position: absolute;
  top: -30px;
  right: -300px;
  width: 80px;
  height: 100px;
  background-image: url(../images/set/termometr.png);
  background-repeat: no-repeat;
}

.set-item_5::before {
  left: 17%;
  width: 731px;
}

.set-item_5::after {
  right: 12.9%;
}

.set-item_6::before {
  left: 28%;
  width: 203px;
}

.set-item_6::after {
  right: 52.4%;
}

.set-item_6 .set-item__link {
  position: relative;
}

.set-item_6 .set-item__link::before {
  content: '';
  position: absolute;
  top: -20px;
  right: -350px;
  width: 112px;
  height: 58px;
  background-image: url(../images/set/instruction.png);
  background-repeat: no-repeat;
}

.set-item_7 {
  margin-bottom: 100px;
}

.set-item_7::before {
  left: 33%;
  width: 547px;
}

.set-item_7::after {
  right: 14.5%;
}

.set-item_8::before {
  left: 22%;
  width: 529px;
  z-index: 1;
}

.set-item_8::after {
  right: 27.5%;
}

.set-item_9::before {
  left: 22%;
  width: 529px;
  z-index: 1;
}

.set-item_9::after {
  right: 27.5%;
}

.set-item_10::before {
  left: 22%;
  width: 529px;
  z-index: 1;
}

.set-item_10::after {
  right: 27.3%;
}

.set-item_11::before {
  left: 22%;
  width: 427px;
}

.set-item_11::after {
  right: 37%;
}

.set-item_12::before {
  left: 22%;
  width: 529px;
  z-index: 1;
}

.set-item_12::after {
  right: 27.3%;
}

.set-item_group {
  margin-bottom: 40px;
}

.set-item__link {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--text-color);
}

.set-item__link_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view360__title {
  margin-bottom: 80px;
}

.view360__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view360__left {
  padding-top: 140px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: right;
}

.view360__left .view360__item {
  padding-right: 66px;
}

.view360__left .view360__item::before {
  right: 0;
}

.view360__middle {
  position: relative;
  width: 40%;
  height: 600px;
  text-align: center;
}

.view360__middle_icon {
  position: absolute;
  top: 0;
  right: 0;
}

.view360__right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.view360__right .view360__item {
  padding-left: 66px;
}

.view360__right .view360__item::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0;
}

.view360__item {
  position: relative;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: var(--text-color);
}

.view360__item:not(:last-child) {
  margin-bottom: 30px;
}

.view360__item::before {
  content: '';
  position: absolute;
  top: 14px;
  width: 61px;
  height: 6px;
  background-image: url(../images/view360/arrow.svg);
  background-repeat: no-repeat;
}

.cloudimage-360 {
  position: initial !important;
}

.cloudimage-360 canvas {
  width: 210px !important;
  height: 600px !important;
}

.rating {
  padding: 180px 0;
}

.rating__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1439px) {
  .rating__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rating__info {
  max-width: 930px;
}

@media (max-width: 1439px) {
  .rating__info {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .rating__info {
    max-width: none;
  }
}

.rating__title {
  margin-bottom: 20px;
}

.rating__desc {
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  color: #959595;
}

.rating-docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1439px) {
  .rating-docs {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .rating-docs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rating-docs__item {
  text-align: center;
}

.rating-docs__item:first-child {
  margin-right: 30px;
}

@media (max-width: 480px) {
  .rating-docs__item:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.rating-docs__link {
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--green-color);
}

.rating-docs__link img {
  margin-bottom: 10px;
}

.reviews {
  padding: 40px 0;
}

.reviews__title {
  margin-bottom: 50px;
}

.reviews__container {
  position: relative;
}

.reviews__swiper {
  width: 90%;
}

.reviews-button-prev,
.reviews-button-next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 52px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  cursor: pointer;
}

.reviews-button-prev {
  left: 10px;
  background-image: url(../images/reviews-button-prev.svg);
}

.reviews-button-next {
  right: 10px;
  background-image: url(../images/reviews-button-next.svg);
}

.delivery {
  padding: 150px 0;
}

.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1549px) {
  .delivery__image {
    display: none;
  }
}

.delivery__image_mobile {
  display: none;
}

@media (max-width: 1549px) {
  .delivery__image_mobile {
    display: block;
    margin-bottom: 30px;
  }
}

.delivery__info {
  max-width: 680px;
}

@media (max-width: 1549px) {
  .delivery__info {
    margin: 0 auto;
  }
}

.delivery__title {
  margin-bottom: 20px;
}

@media (max-width: 1549px) {
  .delivery__title {
    text-align: center;
  }
}

.delivery__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: var(--green-color);
}

@media (max-width: 1549px) {
  .delivery__subtitle {
    text-align: center;
  }
}

.delivery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .delivery__inner img {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .delivery__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.delivery__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.delivery__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__icon {
  margin-right: 16px;
}

.delivery__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.delivery__text span {
  font-weight: 600;
}

.delivery__desc {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.delivery__desc span {
  font-weight: 600;
}

@media (max-width: 1549px) {
  .delivery__desc {
    text-align: center;
  }
}

@media (max-width: 1549px) {
  .delivery__btn {
    margin: 0 auto;
  }
}

.delivery-2 {
  min-height: 818px;
  background-image: url(../images/delivery-2-bg.png);
  background-repeat: no-repeat;
}

.delivery-2__content {
  padding: 150px 0;
}

.delivery-2__date {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FF1741;
}

.delivery-2__title {
  margin-bottom: 15px;
  color: var(--light-color);
}

.delivery-2__desc {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: var(--light-color);
}

.delivery-2__list {
  position: relative;
  max-width: 750px;
}

.delivery-2__list::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 7px;
  width: 1px;
  height: 200px;
  border-left: 1px dashed #FFEBEB;
}

@media (max-width: 505px) {
  .delivery-2__list::before {
    height: 240px;
  }
}

@media (max-width: 489px) {
  .delivery-2__list::before {
    height: 270px;
  }
}

@media (max-width: 351px) {
  .delivery-2__list::before {
    display: none;
  }
}

.delivery-2__item {
  position: relative;
  padding-left: 30px;
  font-size: 20px;
  line-height: 33px;
  color: var(--light-color);
}

.delivery-2__item::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FF1741;
  border-radius: 100%;
  font-size: 10px;
  line-height: 33px;
  color: var(--light-color);
}

.delivery-2__item_1::before {
  content: '1';
}

.delivery-2__item_2::before {
  content: '2';
}

.delivery-2__item_3::before {
  content: '3';
}

.delivery-2__item_4::before {
  content: '4';
}

.delivery-2__item_5::before {
  content: '5';
  top: 25px;
}

.delivery-2__item_6::before {
  content: '6';
  background-color: var(--green-color);
}

.consultation {
  padding: 100px 0;
}

.consultation__content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px;
  background-color: var(--light-color);
  text-align: center;
}

@media (max-width: 480px) {
  .consultation__content {
    max-width: none;
    padding: 20px;
  }
}

.consultation__title {
  margin-bottom: 20px;
}

.consultation__subtitle {
  max-width: 530px;
  margin: 0 auto 25px;
  font-size: 20px;
  line-height: 30px;
  color: var(--green-color);
  text-align: center;
}

.consultation__phone {
  display: block;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--text-color);
}

@media (max-width: 480px) {
  .consultation__phone {
    font-size: 30px;
    line-height: 40px;
  }
}

.consultation-form__inputs {
  margin-bottom: 15px;
}

.consultation-form__input {
  width: 230px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  background-color: var(--light-color);
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
}

.consultation-form__input:first-child {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .consultation-form__input:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.consultation-form__privacy {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 14px;
  color: #9E9E9E;
  text-align: center;
}

.consultation-form__privacy a {
  text-decoration: underline;
}

.consultation-form__btn {
  width: 210px;
  margin: 0 auto;
  background: #FAD580;
  color: var(--text-color);
}

.footer {
  padding: 50px 0;
  background-color: var(--light-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo .logo__text {
  margin: 10px 0 10px;
  color: var(--text-color);
}

@media (max-width: 991px) {
  .footer__logo .logo__text {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .footer__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991px) {
  .footer ul {
    margin-bottom: 30px;
    text-align: center;
  }
}

.footer .footer__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: var(--text-color);
}

.footer-phone {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--text-color);
  text-align: center;
}

.footer-phone__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ABABAB;
}

@media (max-width: 991px) {
  .footer-phone {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .footer-phone {
    font-size: 30px;
    line-height: 40px;
  }
}

.footer-item {
  text-align: right;
}

@media (max-width: 991px) {
  .footer-item {
    text-align: center;
  }
}

.footer-item__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color);
  text-decoration: underline;
}
