.buy {
  display: flex;
  flex-direction: column;

  &__prices {
    margin-bottom: 50px;
  }

  &__price {
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    
    &_old {
      margin: 0 0 0 100px;
      color: #8E8E8E;

      span {
        font-weight: 900;
      }
    }

    &_new {
      color: var(--text-color);

      span {
        font-size: 50px;
        font-weight: 900;
        line-height: 50px;
      }
    }
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    width: 130px;

    &:first-child {
      margin-right: 30px;
    }

    &_constructor {
      width: 180px;
      background: linear-gradient(93.88deg, #FAE7A5 4.34%, #FAE7A5 30.7%, #FFF1C4 53.31%, #C9AD6D 132.51%);
      color: var(--text-color)
    }
  }
}