.configuration {
  padding: 100px 0;

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 30px;
    text-align: center;
  }

  &__desc {
    max-width: 1000px;
    margin: 0 auto 70px;
    font-size: 20px;
    line-height: 35px;
    color: var(--black-color);
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
}

.configuration-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 1px solid #dcdcdc;

  &:first-child {
    padding-right: 35px;
    border: none;

    @media (max-width: 991px) {
      padding-right: 0;
    }
  }

  &:last-child {
    @media (max-width: 1549px) {
      padding-left: 35px;
    }

    @media (max-width: 991px) {
      padding-left: 0;
    }
  }

  @media (max-width: 991px) {
    border: none;
    margin-bottom: 50px;
  }

  &__image {
    max-width: 250px;
    margin: 80px 40px 0 0;

    @media (max-width: 1549px) {
      display: none;
    }

    &_mobile {
      display: none;

      @media (max-width: 1549px) {
        display: block;
        margin-bottom: 30px;
      }
    }
  }

  &__info {
    max-width: 440px;

    @media (max-width: 1549px) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: var(--text-color);

    .medi {
      color: #F88A6F;
    }

    .nerzha {
      color: #AFADAB;
    }

    @media (max-width: 1549px) {
      text-align: center;
    }
  }

  &__desc {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 25px;
    color: var(--text-color);

    &_num {
      font-weight: 700;
    }

    &_green {
      font-weight: 700;
      color: var(--green-color);
    }
  }

  &__arrow {
    margin-bottom: 7px;
  }
}