.delivery {
  padding: 150px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    max-width: 680px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: var(--green-color);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-color);
  }

  &__point {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 16px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);

    span {
      font-weight: 600;
    }
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);

    span {
      font-weight: 600;
    }
  }
}