.delivery {
  padding: 150px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    @media (max-width: 1549px) {
      display: none;
    }

    &_mobile {
      display: none;

      @media (max-width: 1549px) {
        display: block;
        margin-bottom: 30px;
      }
    }
  }

  &__info {
    max-width: 680px;

    @media (max-width: 1549px) {
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 20px;

    @media (max-width: 1549px) {
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: var(--green-color);

    @media (max-width: 1549px) {
      text-align: center;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    img {
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-color);
  }

  &__point {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 16px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);

    span {
      font-weight: 600;
    }
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);

    span {
      font-weight: 600;
    }

    @media (max-width: 1549px) {
      text-align: center;
    }
  }

  &__btn {
    @media (max-width: 1549px) {
      margin: 0 auto;
    }
  }
}