.gifs {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1199px) {
    flex-direction: column;
  }

  &__col {
    width: 49%;

    @media (max-width: 1199px) {
      width: 100%;
    }

    video {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__name {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: var(--text-color);
    text-align: center;

    @media (max-width: 1199px) {
      margin-bottom: 20px;
    }
  }

  &__list {
    max-width: 330px;
    margin: 0 auto;

    @media (max-width: 1199px) {
      margin: 0 auto 50px;
    }

    &_advantage {
      .gifs__item {
        &::before {
          background-image: url(../images/check.svg);
        }
      }
    }
  }

  &__item {
    position: relative;
    padding-left: 34px;
    font-size: 25px;
    line-height: 32px;
    color: var(--text-color);

    span {
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url(../images/cross.svg);
      background-repeat: no-repeat;
    }
  }
}