.nav {
  @media (max-width: 1199px) {
    position: absolute;
    width: 100%;
    top: 77px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding: 30px;
    background: var(--text-color);
    transform: translateX(-150%);
    transition: transform .3s ease;
    z-index: 20;
  }

  &--active {
    transform: none;
  }

  &__list {
    display: flex;

    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__item {
    @media (max-width: 1199px) {
      margin-bottom: 20px;  
      text-align: center;
    }

    &:not(:last-child) {
      margin-right: 50px;

      @media (max-width: 1439px) {
        margin-right: 20px;
      }

      @media (max-width: 1199px) {
        margin-right: 0;
      }
    }
  }
}

.nav-item {
  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}