.rating {
  padding: 180px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1439px) {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 930px;

    @media (max-width: 1439px) {
      margin-bottom: 30px;
    }

    @media (max-width: 991px) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #959595;
  }
}

.rating-docs {
  display: flex;

  @media (max-width: 1439px) {
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &__item {
    text-align: center;

    &:first-child {
      margin-right: 30px;

      @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    text-decoration-line: underline;
    color: var(--green-color);

    img {
      margin-bottom: 10px;
    }
  }
}