.view360 {
  &__title {
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    padding-top: 140px;
    align-self: flex-start;
    text-align: right;

    .view360__item {
      padding-right: 66px;

      &::before {
        right: 0;
      }
    }
  }

  &__middle {
    position: relative;
    width: 40%;
    height: 600px;
    text-align: center;

    &_icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__right {
    align-self: flex-end;

    .view360__item {
      padding-left: 66px;

      &::before {
        transform: rotate(180deg);
        left: 0;
      }
    }
  }

  &__item {
    position: relative;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: var(--text-color);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 14px;
      width: 61px;
      height: 6px;
      background-image: url(../images/view360/arrow.svg);
      background-repeat: no-repeat;
    }
  }
}

.cloudimage-360 {
  position: initial!important;

  canvas {
    width: 210px!important;
    height: 600px!important;
  }
}